* {
  padding: 0;
  margin: 0;
}

body {
  background: #000;
  color: #fff;
  font-family: system-ui;
}

.crud {
  width: 80%;
  margin: auto;
}

.head {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}

input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background: #222222;
  margin: 4px 0;
  border-radius: 4px;
  padding: 4px;
  color: #fff;
}

input:focus {
  background: #312f2f;
}

.price input {
  width: 20%;
}

#TOTAL {
  background: #fff;
  padding: 4px 4px;
  border-radius: 4px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

#TOTAL::before {
  content: "TOTAL:";
  color: #000;
}

button {
  width: 100%;
  height: 30px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background: #b4a02d;
  border-radius: 20px;
  transition: 0.5s;
}

button:hover {
  background: #8b7f0b;
  letter-spacing: 1px;
}

.btnSearch {
  display: flex;
  justify-content: space-between;
}

.btnSearch button {
  width: 45%;
}

#deleteAll {
  margin: 20px 0;
}

table {
  width: 100%;
  margin: 10px 0;
  text-align: center;
}

table th {
  text-transform: uppercase;
}

th,
td {
  padding: 5px;
}
